.background-game {
    /* a bit more transparent */
    background-image: radial-gradient(circle, #ffd400d1, #ff0000d1);
    margin: 0;
}

.cardDeck {
    display: inline-block;
    -webkit-text-fill-color: white;
    margin: 1em 1em 0 1em;
    width: 100%;
    height: 15em;
}

/* Back of the cards, storage pile in the middle */
.cardDeckBack, .storagePile {
    display: inline-block;
    -webkit-text-fill-color: white;
    margin: 1em 1em 0 1em;
}

.gameCardFrontFirst {
    min-width: 10em;
    padding: 0.5em;
    border: solid white 0.5em;
    border-radius: 0.5em;
    box-shadow: -0.25em 0 0.5em black;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.cardDeck > .gameCardFrontFirst {
    position: absolute;
    transition: width .4s, height .4s;
}

.cardDeck > .gameCardFrontFirst:hover {
    border-width: 0.6em;
    box-shadow: -0.5em 0.25em 0.5em #fcf341, -0.5em -0.25em 0.5em #fcf341,
    0.5em -0.25em 0.5em #fcf341, 0.5em 0.25em 0.5em #fcf341;
    top: -0.6em;
    width: 10.5em;
    height: 15.5em;
}

/* Content of the card - Numbers etc. */
.card-top-first {
    text-align: left;
    font-size: 1.5em;
}

.card-middle-first {
    font-size: 5.6em;
    text-align: center;
}

.card-middle-img {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

.card-bottom {
    text-align: right;
    font-size: 1.5em;
}

.iconStyle {
    width: 1.3em;
    height: 1.3em;
}

/* cards back */
.gameCardBackFirst {
    background-color: black;
    border: solid white 0.3em;
    border-radius: 0.5em;
    display: inline-block;
    color: white;
    box-shadow: -0.25em 0 0.5em black;
}

.gameCardBackFirst > p {
    margin-top: 1.4em;
    padding: 0 0.4em 0.4em 0.4em;
}

.gameCardBack {
    background-color: black;
    border-left: solid white 0.3em;
    border-top: solid white 0.3em;
    border-bottom: solid white 0.3em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: inline-block;
    color: white;
    box-shadow: -0.25em 0 0.5em black;
}

.gameCardBack > p {
    margin-top: 1.4em;
    padding: 0 0 0.4em 0.4em;
}

/* where to draw a card */
.deck {
    background-color: black;
    min-width: 10em;
    padding-top: 4.1em;
    padding-bottom: 4.1em;
    margin-left: 1em;
    border: solid white 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    box-shadow: -0.25em 0 0.5em black;
}

.deck > p {
    font-size: 3em;
    color: white;
}

.avatar {
    display: inline-block;
}

.alignBottomDiv > .avatar {
    position: absolute;
    bottom: 0;
    right: 0;
}

.avatar > p {
    text-align: center;
}

/* align content at the bottom */
.alignBottom {
    vertical-align: bottom;
}

/* div with 100% height to align items at the bottom*/
.alignBottomDiv {
    height: 100%;
}

.uno-button {
    color: #ffd400;
    font-size: 1.5em;
    background-color: #ff2500;
    border-color: #000000a8;
    border-radius: 2em;
    padding: 1em 0.5em;
    box-shadow: -0.15em 0 0.25em black;
    text-shadow: -1px 1px 0 black;
    position: absolute;
    bottom: 0;
    transition: all .2s ease-in-out;
}

.uno-button:hover {
    box-shadow: -0.45em 0 0.25em black;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.uno-button:focus {
    outline: 0;
}

.uno {
    margin: 0;
    font-size: 1.5em;
    color: #ffd400;
    text-shadow: -1px 1px 0 #000;
    animation: zoomInAndOut 3.5s infinite;
}

@keyframes zoomInAndOut {
    50% {
        transform: scale(1.4, 1.4);
    }
}