.container {
    margin: 20px auto;
    height: 300px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.container .box {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}

.container .yellow {
    background-color: #ffff00;
}

.container .red {
    background-color: #ff0000;
}

.container .blue {
    background-color: #0000ff;
}

.container .green {
    background-color: #008000;
}
