div.row {
    margin: 0;
}

/*.left {*/
/*    text-align: center;*/
/*    margin-bottom: auto;*/
/*    margin-top: auto;*/
/*}*/

.home-uno {
    margin: 0;
    font-size: 13em;
    color: #ffd400;
    text-shadow: -11px 11px 0 #000;
}

/*.right {*/
/*    margin-bottom: auto;*/
/*    margin-top: auto;*/
/*}*/
