.background-red {
    background-color: lightgray;
}

.cardDeck {
    display: inline-block;
}

.gameCardFrontFirst {
    width: 8em;
    padding: 0.5em;
    border: solid white 0.5em;
    border-radius: 0.5em;
    display: inline-block;
    box-shadow: -0.25em 0 0.5em black;
}

.gameCardFront {
    width: 3em;
    padding: 0.5em;
    border-left: solid white 0.5em;
    border-top: solid white 0.5em;
    border-bottom: solid white 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: inline-block;
    box-shadow: -0.25em 0 0.5em black;
}

.card-top {
    text-align: left;
}

.card-middle {
    font-size: 5em;
    text-align: center;
}

.card-bottom {
    /* text upside down? */
    text-align: right;
}

.avatar {
    display: inline-block;
}

.avatar > p {
    text-align: center;
}